{{#prettify}}
<!DOCTYPE html>
<html>
  <head>
    {{> head }}
    <link rel="stylesheet" type="text/css" href="../css/styles-doc.css" />
  </head>
  <body>
    <div class="page-index">
        <div class="content">
            {{> body }}
        </div>
    </div>
  </body>
</html>
{{/prettify}}
